{% extends 'base.html' %}


{% block content %}
<h1>course Page</h1>
<h6 align="right"><a href="/logout">logout</a></h6>
<h6 align="left"><a href="/" style="color: rgb(226, 17, 70);" >Mainmenu</a></h6>
<h2>Hey, {{ user.username }}. your {{ course }} main page.</h2>
<br><br>



<form method="post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    {{ form }} 
    <button type="submit" class="btn btn-success">Submit</button> 
</form> 

<ul>
{% for message in messages %} 
    <li>{{ message.header }}
        <ul>
            <li>{{ message.text }}</li>
            <li>{{ message.time }}</li>
        </ul>
    </li> 
    
{% endfor %} 
</ul>

<h6 align="right">manage students for {{ course }}
    <a href= "{{ course }}/manage" > here</a></h6> <br><br>

{% endblock %}