{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>blog Page</h1>
<p>Hey, {{ user.username }}. Add or Remove student for {{ course }} course.</p>
<form method="post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    <input type="submit" name="remove" value="remove" />
<br>
	{{ form1|crispy }} 
</form> 
<br><br>
<form method="post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    <input type="submit" name="add" value="add" /><br>
	{{ form2|crispy }} 
	
</form> 
{% endblock %}
