
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Main Page</h1>
<p>Welcome, {{ user.username }}. Your courses list</p>

<div class="list-group"> 
{% for athlete in courses %} 
    <a href= "{{ athlete }}" class="list-group-item">{{ athlete }}</a> 
{% endfor %} 
</div> 
<br><br><br>
{% if bool %}

<h3>create a new course</h3>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %} 
	<input type="text" placeholder="enter team name" name="group_name">
	<input type="submit" value="create">
</form>
<br>
<h4>{{ msg }}</h4>
<br><br>
{% endif %}

<p>goodbye, {{ user.username }}. <a href="/logout"> log out</a>.</p>
{% endblock %}